<form method='POST' action='destroy/confirm'>
    <div class="container-fluid">
        {{#if user}}
            <input type='hidden' name='notekey' value='{{#if note}}{{notekey}}
        {{/if}}'>
        
        <p class="form-text">Delete {{note.title}}?</p>
        <div class="btn-group">
            <button type="submit" value='DELETE'
            class="btn btn-outline-light">DELETE</button>

            <a class="btn btn-outline-light"
            href="notesview?key={{#if note}}{{notekey}}{{/if}}"
            role="button">Cancel</a>
        </div>

        {{else}}
        {{> not-logged-in }}
        {{/if}}
    </div>
</form>

<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/feathericons/feather.js"></script>
